<app-header></app-header>
<div class="body">
    <span routerLink="/" class="close"></span>
    <br />
    <form #form="ngForm" (ngSubmit)="submit()">
        <input [(ngModel)] = 'user.email' name='email' type="email" placeholder="email"/><br /><br />
        <input [(ngModel)] = 'user.password' type='password' name='password' placeholder="password"/><br /><br />

        <button type='submit'>Login</button>
    </form>
    <div class="button">First time here? <a routerLink="/register">Create an account</a></div>
</div>