<div class="body">
    <span routerLink="/" class="close"></span>
    <br />
    <form #form="ngForm" (ngSubmit)="submit(form)">
        <input [(ngModel)] = 'register.name' name='name' type="text" placeholder="name" class="form-control"/><br />
        <input [(ngModel)] = 'register.email' name='email' type="email" placeholder="email" class="form-control"/><br />
        <select [(ngModel)] = 'register.genderId' name="genderId" class="form-control">
            <option value="0">Select Gender</option>
            <option *ngFor="let gender of genders" [ngValue]="gender.id">{{ gender.type }}</option>
        </select><br />
        <input [(ngModel)] = 'register.password' type='password' name='password' placeholder="password" class="form-control"/><br />
        <input [(ngModel)] = 'register.confirmPassword' type='password' name='confirmPassword' placeholder="confirmPassword" class="form-control"/><br />
        <button type='submit' class="form-control btn btn-success">Register</button>
    </form>
    <div type="submit" class="button">Already have an account? <a routerLink="/login">Sign in account</a></div>
</div>