<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-success text-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto dont-weight-normal">BrainGame</h5>
    <nav><a class="p-2 text-white text-decoration-none" routerLink="/main/profile">Profile</a></nav>
</div>

<div *ngFor="let weath of weather">
    {{weath.temperatureC}}  {{weath.summary}}
</div>
<button (click)="loadData()">Load</button>

<div class="container">
    <div class="block1">
        <h1 class="h1">Quiz</h1>
        <button class="red-buy" routerLink="/main/quizzes">New Game</button>        
    </div>
</div>