<div class="body">
    <span routerLink="/" class="close"></span>
    <br />
</div>

<div class="container" *ngIf="hasPermission else nopermission">
    <div class="block1">
        <h2 class="h2">Animals</h2>
        <button class="red-buy" (click)="animal()">New Game</button>        
    </div>
    <div class="block2">
        <h2 class="h2">Plants</h2>
        <button class="orange-buy" (click)="plants()">New Game</button>    
    </div>
    <div class="block3">
        <h2 class="h2">Mushrooms</h2>
        <button class="blue-buy" (click)="mushrooms()">New Game</button>    
    </div>
</div>

<ng-template #nopermission>
    <h5>You don't have permission</h5>
</ng-template>