.foo{
    margin: 20px;
}
.link{
    text-decoration: none;
    color: black;
}

img{
    width: 100%;
    height: auto;
    margin: auto;
    padding: auto;
}

.h1{
    text-align: center;
    position: absolute;
    left: 100px;
    right: 100px;
}