.but{
    margin-top: 10px;
    margin-left: 10px;
}
.link{
    text-decoration: none;
    color: black;
}
.body{
    margin: 10px;
}
.container{
	display: grid; 
	height: 400px;
	margin-top: 20px;
	grid-template-columns: 0.6fr 0.5fr 2fr;
}
.ava{
	width: 100%;
	background-color: white;
	border: 0.5px solid black;
	border-radius: 4px;
}
.male, .female{
	height: 250px;
	width: 250px;
	margin: 35px;
	border-radius: 50%;
}
.hr{color: #DCDCDC;}
.button{
	background-color: lightblue;
	width: 250px;
	height: 50px;
	text-align: center;
	margin: 50px;
  	margin-left: 120px;
	border: 0px;
	border-radius: 4px;
}
.edit, .del, .password{	
	width: 250px;
	height: 50px;
	text-align: center;
	margin: 5px;
  	margin-left: 120px;
	border: 0px;
	border-radius: 4px;
	font-size: 25px;
	color: white;
}
.edit{background-color: rgb(184, 92, 7);}
.del{background-color: rgb(204, 6, 6);}
.password{background-color: #28a745;}
.danie{
	width: 500px;
	background-color: white;
	margin-left: 20px;
	border: 0.5px solid black;
	border-radius: 4px;
}
.Name{
  margin-top: 10px;
	padding-left: 30px; 
	font-size: 30px;
}
.hr2{
	margin: 30px;
	color: #DCDCDC;
}
.close {
    position: absolute;
    right: 32px;
    top: 62px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}
.close:hover {
	opacity: 1;
}
.close:before, .close:after {
	position: absolute;
	left: 15px;
	content: ' ';
	height: 33px;
	width: 2px;
	background-color: #333;
}
.close:before {
	transform: rotate(45deg);
}
.close:after {
	transform: rotate(-45deg);
}