<div class="body">
	<span routerLink="/" class="close"></span>
	<div class="container">
		<div class="ava">
			<div *ngIf="user$ | async as user">
				<div *ngIf="user.gender === 'Male'">
					<img src="assets/male.png" class="male">
				</div>
				<div *ngIf="user.gender === 'Female'">
					<img src="assets/female.png" class="female">
				</div>				
			</div>
			
		</div>
		<div class="danie">			  
			<div *ngIf="user$ | async as user">
				<p class="Name">Name: {{user.name}}</p>
				<p class="Name">Email: {{user.email}}</p>
				<p class="Name">Gender: {{user.gender}}</p>
			</div>

			<button class="edit" routerLink="/profile/edit">Edit Info</button>
			<button class="password" routerLink="/profile/edit/password">Change Password</button>
			<button class="logout" (click)="logout()">Logout</button>
		</div>
	</div>
</div>