.button{
    margin-top: 10px;
}
.link{
    text-decoration: none;
    color: black;
}
.body{
    margin: 10px;
}
.color{
    background-color: red;
}

.ans, .a{
    margin: 5px;
    margin-bottom: 20px;
    font-size: 20px;
}