<app-header></app-header>
<div class="body">
    <div class="button">
        <button routerLink="/" class="link">Back</button>
    </div>
    <br />
    <form #form="ngForm" (ngSubmit)="submit(form)">
        <input [(ngModel)] = 'user.email' name='email' type="email"/><br /><br />
        <input [(ngModel)] = 'user.password' type='password' name='password'/><br /><br />

        <button type='submit'>Login</button>
    </form>
    <div class="button">Впервые сдесь? <a routerLink="/register">Создайте учетную запись</a></div>
</div>