.h3{
    text-align: center;
}
.yes, .no{
    margin: 5px;
    width: 100px;
    margin-left: 450px;
    margin-top: 40px;
}
.yes{
    background-color: rgb(204, 6, 6);
    border: rgb(204, 6, 6);
    color: white;
}
.no{
    background-color: rgb(184, 92, 7);
    border: rgb(184, 92, 7);
    color: white;
}