.button{
    margin-top: 10px;
}
.link, .links{
    text-decoration: none;
    color: black;
}
.body{
    margin: 10px;
}

.links{
    margin-top: 50px;
    width: 200px;
    height: 40px;
    background-color: #28a745;
    color: white;
}